.block_position {
    width: 100%;
    height: 100%;
    position: fixed;
    perspective: 1500px;

    .fon {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: fixed;
    }
}